.navbar {
    .is-active {
        border-bottom: 0.3em solid rgb(17, 8, 138);
    }
}

html,
body {
    background: #fcfbfb;
    height: 100%;
}

.mini-avatar {
    display: flex;
    flex-direction: row;
    margin-right: 0em;
    padding-right: 1em;

    figure,
    p {
        margin: 0.3em;
    }

    p {
        margin-top: 0.7em;
    }
}
